{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="profile-container">
        <img src="{{ user.profile_pic.url }}" class="profile-image" alt="">
        <h3>{{user.username}}</h3>
        <p><span>Businesses</span>: {{ business_count }} |  <span>Products</span>: {{ products_count }}</p>
        <div class="creation">
            <div class="create-btn">
                <a href="{% url 'create-business' %}"><button>Create Business</button></a>
                
            </div>
            <div class="create-btn">
                <a href="{% url 'profile-update' request.user.id %}"><button>Edit Profile</button></a>
                
            </div>
        </div>
        
        <hr>
        <div class="posts-container" >
            {% for business in businesses %}
            <div class="post">
                <a href="{% url 'business-page' business.b_id %}"><img src="{{ business.image.url }}" alt=""></a>
                <div>
                    <a href="{% url 'business-page' business.b_id %}"><h3>{{ business.name }}</h3></a>
                    
                </div>
                <div class="business-bin">
                    <a href="{% url 'delete-business' business.b_id %}"><img src="{% static 'images/bin.png' %}" alt=""></a>
                </div>
                <div class="business-edit">
                    <a href="{% url 'update-business' business.b_id %}"><img src="{% static 'images/edit.png' %}" alt=""></a>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}