{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="profile-container">
        <img src="{% static 'images/profile.jpg' %}" class="profile-image" alt="">
        <h3>OscarM</h3>
        <p><span>Businesses</span>: 5  |  <span>Products</span>: 105</p>
        <div class="edit">
            <img src="{% static 'images/edit.png' %}"  alt="">
        </div>
        <div class="creation">
            <div class="create-btn">
                <a href="{% url 'create-business' %}"><button>Create Business</button></a>
                
            </div>
            <div class="create-btn">
                <button>Create Product</button>
                
            </div>
        </div>
        
        <hr>
        <div class="posts-container" >
            {% for business in businesses %}
            <div class="post">
                <a href="{% url 'business-page' business.b_id %}"><img src="{{ business.image.url }}" alt=""></a>
                <div>
                    <a href="{% url 'business-page' business.b_id %}"><h3>{{ business.name }}</h3></a>
                    
                </div>
                <div class="bin">
                    <img src="{% static 'images/bin.png' %}" alt="">
                </div>
                <div class="business-edit">
                    <img src="{% static 'images/edit.png' %}" alt="">
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}